@charset "UTF-8";
/*
@import "utils/_sprite";
@import "components/_bootstrap-reboot.min";
@import "components/_bootstrap.min";
@import "components/_bootstrap-grid.min";
@import "components/_animations";
@import "components/_mCustomScrollbar";
@import "components/_jquery.formstyler";
@import "components/_jquery.mmenu.all";
@import "layout/_media";
@import "components/_font-awesome.min";
@import "components/_slick";
@import "components/_hamburgers";
@import "components/_magnific-popup";
*/
/* переменные и миксины */
/* main variables */
* { box-sizing: border-box; outline: none !important; }

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }

ul { margin-top: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { font-size: 100%; font-size: 1rem; line-height: 1.5; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; height: 100%; }

html.mm-opened { height: auto; }

body { color: #767980; margin: 0px; padding: 0px; font-family: Gilroy, sans-serif; background-color: #fff; font-size: 14px; height: 100%; line-height: 1.5; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

input, textarea { color: #333; font-family: Gilroy, sans-serif; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; }

input[type="button"], input[type="submit"], button { cursor: pointer; }

td { margin: 0px; padding: 0px; }

form { padding: 0px; margin: 0px; }

a, input[type=submit], input[type=button], button { -webkit-appearance: none; outline: none !important; }

* { box-sizing: border-box; }

*:before, *:after { box-sizing: border-box; }

.clearfix:after, .wrapper:after, .row:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

a { color: #ffe735; text-decoration: underline; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:visited, a:hover { text-decoration: none; color: #ffe735; }

a:active, a:focus { outline: none; }

a:focus { text-decoration: none; }

a:hover { color: #ffe735; }

a:active { background-color: transparent; }

textarea, input[type=url], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=email] { height: 32px; border: 1px solid #ccc; background-color: rgba(255, 255, 255, 0.2); margin: 0; font: 16px/30px Gilroy, sans-serif; color: #767980; padding: 6px 15px; vertical-align: middle; display: inline-block; }

textarea.placeholder, input[type=url].placeholder, input[type=search].placeholder, input[type=number].placeholder, input[type=password].placeholder, input[type=tel].placeholder, input[type=text].placeholder, input[type=email].placeholder { color: #c7c7c7; }

textarea:-moz-placeholder, input[type=url]:-moz-placeholder, input[type=search]:-moz-placeholder, input[type=number]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=text]:-moz-placeholder, input[type=email]:-moz-placeholder { color: #c7c7c7; }

textarea::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder { color: #c7c7c7; }

textarea:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder { color: #c7c7c7; }

textarea::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder, input[type=search]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder { color: #c7c7c7; }

textarea { width: 222px; height: 102px; font: 16px/20px Gilroy, sans-serif; overflow: auto; }

@-webkit-keyframes pulsemy { from { box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 0, rgba(0, 0, 0, 0) 0 0 8px 35px; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 8px 50px, rgba(0, 0, 0, 0.1) 0 0 4px 0; } }

@keyframes pulsemy { from { box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 0, rgba(0, 0, 0, 0) 0 0 8px 35px; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 8px 50px, rgba(0, 0, 0, 0.1) 0 0 4px 0; } }

@-webkit-keyframes pulsemy-hover { from { box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 0, rgba(0, 0, 0, 0) 0 0 8px 35px; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 8px 80px, rgba(0, 0, 0, 0.1) 0 0 4px 0; } }

@keyframes pulsemy-hover { from { box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 0, rgba(0, 0, 0, 0) 0 0 8px 35px; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 8px 80px, rgba(0, 0, 0, 0.1) 0 0 4px 0; } }

@-webkit-keyframes pulsemy-none { from { box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 0 0 0; } }

@keyframes pulsemy-none { from { box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0; }
  to { box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 0 0 0; } }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 0 white inset !important; }

input:-webkit-autofill { -webkit-text-fill-color: #bdbdbd !important; }

button, .button, a.button, input[type=button], input[type=submit] { height: 51px; border: 1px solid #ffe735; border-radius: 25px; background-color: #ffe735; font: 400 18px/49px Gilroy, sans-serif; -webkit-transition: .2s; transition: .2s; margin: 0; padding: 0 37px; color: #000; vertical-align: middle; display: inline-block; cursor: pointer; text-decoration: none; text-align: center; text-transform: uppercase; }

button:hover, .button:hover, a.button:hover, input[type=button]:hover, input[type=submit]:hover { background: #fff; text-decoration: none; }

button.inverse, .button.inverse, a.button.inverse, input[type=button].inverse, input[type=submit].inverse { background: #fff; text-decoration: none; }

button.inverse:hover, .button.inverse:hover, a.button.inverse:hover, input[type=button].inverse:hover, input[type=submit].inverse:hover { background-color: #ffe735; }

::-webkit-input-placeholder { opacity: 1; }

:-ms-input-placeholder { opacity: 1; }

::-moz-placeholder { opacity: 1; }

:focus::-webkit-input-placeholder { color: transparent !important; }

:focus:-ms-input-placeholder { color: transparent !important; }

:focus::-moz-placeholder { color: transparent !important; }

textarea:invalid, input:invalid { box-shadow: none; }

.hidden { display: none; }

form { margin: 0; padding: 0; }

img { border-style: none; height: auto; max-width: 100%; }

.pull-left { float: left; margin: 0 11px 3px 0; }

.pull-right { float: right; margin-left: 9px; margin: 0 0 3px 11px; }

.alignleft { float: left; margin: 0 11px 3px 0; }

.alignright { float: right; margin: 0 0 3px 11px; }

.aligncenter { display: block; margin: 0 auto 22px; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

.nowrap { white-space: nowrap !important; }

/* для photobox */
.pbWrapper > div { width: 1200px; height: 700px; max-width: 90%; max-height: 90%; }

.pbWrapper { max-width: 100%; }

/* для photobox end */
/*
100 - thin
200 - extralight
300 - light
400 - normal
500 - medium
600 - semibold
700 - bold
800 - extrabold
900 - black
lighter - Изменяет начертание относительно насыщенности родительского элемента (сверхтонкое начертание).
bolder - Изменяет начертание относительно насыщенности родителя элемента (сверхжирное начертание).
*/
@font-face { font-family: 'OpenSans'; src: url("../fonts/OpenSansRegular.eot"); src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/OpenSansSemibold.eot"); src: url("../fonts/OpenSansSemibold.eot") format("embedded-opentype"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold.svg#OpenSansSemibold") format("svg"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'OpenSans'; src: url("../fonts/OpenSansBold.eot"); src: url("../fonts/OpenSansBold.eot") format("embedded-opentype"), url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"), url("../fonts/OpenSansBold.svg#OpenSansBold") format("svg"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Gilroy'; src: url("../fonts/Gilroy-Light.eot"); src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Gilroy'; src: url("../fonts/Gilroy-Regular.eot"); src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Gilroy'; src: url("../fonts/Gilroy-Bold.eot"); src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

.wrapper { min-width: 320px; max-width: 1200px; padding: 0 15px; margin: 0 auto; position: relative; }

p { padding: 0 0 15px; }

/* titles start */
h1 { font-family: Gilroy, sans-serif; font-size: 54px; line-height: 1.25; padding: 0 0 15px; color: #000; letter-spacing: 2px; }

h2 { font-family: Gilroy, sans-serif; font-size: 46px; line-height: 1.25; padding: 0 0 15px; color: #000; font-weight: 300; letter-spacing: 2px; }

h3 { font-family: Gilroy, sans-serif; font-size: 38px; line-height: 1.25; color: #000; padding: 0 0 15px; }

h4, h5, h6 { font-weight: 700; padding: 0 0 15px; color: #000; }

/* titles end */
.custom2 { font-family: Gilroy, Arial, sans-serif; }

/* Styles for dialog window */
.small-popup { background: #fff; padding: 20px 30px; text-align: left; max-width: 400px; margin: 40px auto; position: relative; }

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg { opacity: 0; -webkit-backface-visibility: hidden; /* ideally, transition speed should match zoom duration */ -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container { opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg { opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg { opacity: 0; }

/* Styles for dialog window end */
.mm-opened .mm-slideout { cursor: pointer; }

.mm-title img { height: 20px; }

.slick-arrow { position: absolute; top: 32%; border: none; cursor: pointer; padding: 0; width: 24px; height: 24px; z-index: 3; }

.slick-arrow.slick-prev { left: 10px; }

.slick-arrow.slick-next { right: 10px; }

.mm-page, #my-page { height: 100%; }

.icon { display: inline-block; }

/* loader */
.loaded .main-wrapper { visibility: hidden; }

.icon-load { /*background: url(../img/loader.svg) no-repeat left top;*/ width: 100px; height: 100px; position: fixed; left: 50%; top: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); display: none; }

.icon-load img { width: 100%; height: 100%; }

.loaded .icon-load { display: block; }

.hidden-block { display: none; }

.main-wrapper { padding: 0; min-width: 320px; width: 100%; position: relative; min-height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

.header { height: 100vh; min-height: 800px; background: url(../img/header-bg.jpg) no-repeat center/cover; width: 100%; min-width: 320px; text-align: left; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; overflow: hidden; color: #fff; }

.header .wrapper { position: relative; height: -webkit-calc(100% - 273px); height: calc(100% - 273px); }

.header a { color: #fff; }

.header__top { padding: 50px 68px 46px 60px; height: 273px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }

.header__top .buttonbox { padding: 13px 0; }

.header__top .buttonbox .button { background-color: transparent; color: #fff; }

.header__top .buttonbox .button:hover { color: #000; }

.header .logo a { display: block; color: #fff; }

.header .logo span, .header .logo img { display: inline-block; vertical-align: middle; }

.header .logo span { font: bold 21px 'Gilroy', Arial, sans-serif; padding: 8px 0 0 18px; text-transform: uppercase; }

.header__content { display: inline-block; position: relative; }

.header h1 { color: #fff; font: 60px/87px 'Gilroy', Arial, sans-serif; text-transform: uppercase; letter-spacing: 7px; padding: 0 0 19px; }

.header h1 strong { font-weight: bold; color: #ffe735; font-size: 80px; display: block; letter-spacing: 10px; }

.header__text { border-top: 2px solid rgba(255, 255, 255, 0.2); padding-left: 32px 0; padding: 18px 0; }

.header p { font: 300 24px/34px 'Gilroy', Arial, sans-serif; padding: 0 0 38px; }

.header p b, .header p strong { color: #ffe735; }

.header__bottom { background-color: #fff; position: absolute; height: 258px; width: -webkit-calc(100% + 92px); width: calc(100% + 92px); left: -46px; bottom: 0; border-radius: 44px 44px 0 0; padding: 40px 46px 0; overflow: hidden; }

.hb_calc { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; color: #000; }

.hb_calc > div { width: 326px; }

.hb_calc label { font: 300 18px 'Gilroy', Arial, sans-serif; color: #767980; padding-bottom: 10px; display: block; }

.hb_calc .num { font: 700 32px 'Gilroy', Arial, sans-serif; padding-bottom: 18px; }

.hb_calc .num span { font-size: 24px; }

.slider_move { background: #d5d9dd; position: relative; margin: 0 auto; width: 100%; height: 2px; }

.ui-slider-handle { width: 28px; height: 28px; position: absolute; top: -12px; margin-left: -14px; z-index: 200; background: #ffe735; border-radius: 50px; cursor: pointer; }

.ui-slider-handle:active { background-color: #ffe735; }

.ui-slider-handle:after { content: ''; display: block; width: 20px; height: 20px; border-radius: 50%; border: 1px solid #fff; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); }

.ui-widget-header { background: #ffe735; height: 4px; left: 1px; top: -1px; position: absolute; }

.results__table { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.results__cell { width: 50%; padding: 7px 7px 7px 14px; border: 1px solid #d5d9dd; }

.results__cell:nth-child(1) { border-top: none; border-left: none; }

.results__cell:nth-child(2) { border-top: none; border-right: none; border-left: none; }

.results__cell:nth-child(3) { border-bottom: none; border-left: none; border-top: none; }

.results__cell:nth-child(4) { border: none; }

.results .label { font: 11px/18px 'Gilroy', Arial, sans-serif; color: #767980; }

.results__text { font: bold 12px/18px 'Gilroy', Arial, sans-serif; }

.hb__button { position: absolute; bottom: 0; left: 0; width: 100%; }

.hb__button a { display: block; background-color: #ffe735; color: #000; text-align: center; text-decoration: none; height: 74px; -webkit-transition: .2s; transition: .2s; }

.hb__button a:hover { background-color: #fee748; box-shadow: 0 0 16px rgba(254, 231, 72, 0.8); }

.hb__button span { display: inline-block; font: 21px/78px 'Gilroy', Arial, sans-serif; text-transform: uppercase; position: relative; padding-right: 50px; }

.hb__button span:after { content: ''; display: block; width: 31px; height: 27px; background: url(../img/link-arrow.png) no-repeat; position: absolute; right: 0; top: 23px; }

.art { position: absolute; width: 130px; height: 130px; border-radius: 50%; border: 1px solid rgba(255, 255, 255, 0.3); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; top: 26px; left: 100%; margin-left: 40px; }

.art:after { content: ''; display: block; width: 98px; height: 98px; border: 2px solid #ffe735; border-radius: 50%; position: absolute; top: 50%; left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); opacity: .5; }

.percent { position: absolute; right: 0; top: 130px; width: 280px; }

.percent__num { color: #ffe735; font: 200px/1 'Gilroy', Arial, sans-serif; }

.percent sup { font-size: 70px; position: relative; top: -25px; left: -5px; }

.percent__text { position: absolute; font: 21px/34px 'Gilroy', Arial, sans-serif; bottom: 26px; left: 126px; }

.content { min-width: 320px; text-align: left; width: 100%; -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }

section { padding: 50px 0; }

section h2 { text-align: center; }

section .subtitle { font: 300 23px 'Gilroy', Arial, sans-serif; text-align: center; padding: 24px 0 70px; border-top: 1px solid #d5d9dd; }

#how_working { padding: 77px 0 56px; background-color: #f5f5f6; }

.hw_steps { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; border-right: 2px solid #000; }

.hw_steps .step { width: 25%; border-left: 2px solid #000; padding: 18px 42px 28px 50px; position: relative; }

.hw_steps .step:after { content: ''; display: block; width: 30px; height: 50px; background: url(../img/hw-corner.png) no-repeat; position: absolute; left: -2px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.hw_steps .step:first-child:after { display: none; }

.hw_steps__top { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; padding-bottom: 36px; }

.hw_steps .title { font: 20px/24px 'Gilroy', Arial, sans-serif; color: #000; padding-top: 6px; }

.hw_steps .num_box { width: 70px; -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none; text-align: right; }

.hw_steps p { line-height: 20px; min-height: 80px; }

.hw_steps .ico_box { text-align: center; }

.footer { background: #ff0; min-height: 80px; width: 100%; min-width: 320px; -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; padding: 15px; text-align: left; }

/*# sourceMappingURL=style.css.map */
